<header class="header-container">
  <nav class="navbar">
    <section class="navbar-left-side">
      <mat-icon>menu</mat-icon>
      <figure class="navbar-logo-container">
        <img src="https://trello-attachments.s3.amazonaws.com/5ea1cd450cc6f654e8ea7a63/5fc66bcecb89af6544c0a4b5/ba15405c8bcd7883c75615be810b2342/logo_(1)_1logoNeobyte.svg" alt="company-logo">
      </figure>
    </section>
    <section class="navbar-right-side">
      <mat-icon class="right-side-icon">favorite_border</mat-icon>
      <mat-icon class="right-side-icon">search</mat-icon>
      <mat-icon class="right-side-icon">account_circle</mat-icon>
      <mat-icon class="right-side-icon">shopping_cart</mat-icon>
    </section>
  </nav>
</header>