.header-container {
  padding: 20px;
  .navbar {
    display: flex;
    justify-content: space-between;
    .navbar-left-side {
      display: contents;
      .navbar-logo-container {

      }
    }
    .navbar-right-side {
      .right-side-icon {
        margin-left: 10px
      }
    }
  }
}

.navbar-logo-container > img {
  width: 105px;
}