<main class="container">
 
  <mat-divider class="divider"></mat-divider>

  <section class="image-gallery-container">
    <picture class="full-size-image">
      <button class="image-btn-navigation">
        <mat-icon class="navigation-icon">navigate_before</mat-icon>
      </button>
      <img src="https://www.neobyte.es/18944-thickbox_default/
      monitor-asus-mb169b-fhd-ips-usb.jpg" alt="product-img" class="image">
      <button class="image-btn-navigation">
        <mat-icon class="navigation-icon">navigate_next</mat-icon>
      </button>
    </picture>
    <section class="small-size-images">
      <picture class="images-display">
        <img src="https://www.neobyte.es/24010-small_default/portatil-msi-ge75-9sf-1085es-i7-9750h-32gb-1tb-ssd.jpg" alt="product-img"  class="images-display-mini">
        <img src="https://www.neobyte.es/24011-small_default/portatil-msi-ge75-9sf-1085es-i7-9750h-32gb-1tb-ssd.jpg" alt="product-img" class="images-display-mini">
        <img src="https://www.neobyte.es/24012-small_default/portatil-msi-ge75-9sf-1085es-i7-9750h-32gb-1tb-ssd.jpg" alt="product-img" class="images-display-mini">
        <img src="https://www.neobyte.es/24013-small_default/portatil-msi-ge75-9sf-1085es-i7-9750h-32gb-1tb-ssd.jpg" alt="product-img" class="images-display-mini">
      </picture>
    </section>
  </section>

  <section class="product-price-brand">
    <section class="product-price-info">
      <span class="price-info-current">1.659.99€ </span>
      <p>IVA incluido <span class="price-info-previous-discount">1.959.00€</span></p>
    </section>
    <section class="product-brand-logo">
      <picture>
        <img src="https://www.neobyte.es/img/m/1-mf_image.jpg" alt="brando logo">
      </picture>
    </section>
  </section>

  <section class="product-partnumber">
    <p>P/N: <span>90NB0QX1-M02720</span></p>
  </section>

  <mat-divider class="divider"></mat-divider>

  <section class="product-shipping">
    <div class="product-shipping-state">
      <mat-icon>check_circle</mat-icon>
      <p>¡En stock! Recíbelo en 24/48h.</p>
    </div>
    <div class="shipping-product-price">
      <mat-icon>local_shipping</mat-icon>
      <p>Tarifa plana de envío: <span>4.90€</span></p>
    </div>
  </section>

  <section class="product-general-specs">
    <h2>Asus BX425JA-BM145R</h2>
    <p>Características destacadas</p>
    <ul class="general-specs-list">
      <li class="li-item">
        <mat-icon>chevron_right</mat-icon>
        <p>Intel Core i7-1065G7</p>
      </li>
      <li class="li-item">
        <mat-icon>chevron_right</mat-icon>
        <p>16GB RAM / 512GB SSD</p>
      </li>
      <li class="li-item">
        <mat-icon>chevron_right</mat-icon>
        <p>14" Full HD IPS</p>
      </li>
      <li class="li-item">
        <mat-icon>chevron_right</mat-icon>
        <p>Intel Core i7-1065G7</p>
      </li>
    </ul>    
  </section>

  <mat-divider class="divider"></mat-divider>

  <section class="product-feature">
    <img src="https://www.neobyte.es/themes/warehouse/img/icon/visa-mastercard.svg" alt="logo">
    <div>
      <mat-icon>local_shipping</mat-icon>
      <p>Recíbelo en 24/48h.</p>
    </div>
    <div>
      <mat-icon>thumb_up</mat-icon>
      <p>Recíbelo en 24/48h.</p>
    </div>
  </section>

  <mat-divider class="divider"></mat-divider>

  <section class="product-description">
    <h3>Especificaciones técnicas</h3>
    <mat-divider class="divider1"></mat-divider>
    <p>
      Potente, bello y con Windows 10 Pro, el Asus BX425JA-BM145R ZenBook 14 es la herramienta de trabajo que estabas buscando. Fabricado con materiales de primera calidad y con un tamaño de tan solo 14", está preparado para acompañarte en el día a día e incrementar tu productividad allá donde estés. Entre sus especificaciones técnicas, destacar el procesador Intel Core i7-1065G7 de 10ª gen. con gráficos integrados Intel Iris Plus, los 16GB de memoria RAM y los 512GB de almacenamiento SSD. Estos componentes aseguran un encendido instantáneo y una capacidad multitarea espectacular. Así mismo, indicar que el Asus BX425JA-BM145R ZenBook 14 cuenta con pantalla Full HD IPS de borde estrecho, altavoces certificados por Harman Kardon y una completa conectividad.
    </p>
    <h4>Características</h4>
    <ul>
       <li class="li-item">
        <mat-icon>chevron_right</mat-icon>
        <p>Procesador Intel® Core™ i7-1065G7 (4 Núcleos, 8 Subprocesos, Caché: 8MB SmartCache, 1.30GHz hasta 3.90GHz, 64-bit)</p>
      </li>
       <li class="li-item">
        <mat-icon>chevron_right</mat-icon>
        <p>Pantalla 14" (35,56cm) LED Retroiluminado / 60Hz / NanoEdge (Borde Estrecho) / 300nits / FHD (1920x1080/16:9) / Antirreflejos / NTSC:72% / sRGB: 100% / IPS / Ángulo de Visión de 178°</p>
      </li>
       <li class="li-item">
        <mat-icon>chevron_right</mat-icon>
        <p>Memoria RAM 16GB (16GB [EN PLACA]) LPDDR4X 3200MHz</p>
      </li>
       <li class="li-item">
        <mat-icon>chevron_right</mat-icon>
        <p>Gráfica Intel® Iris® Plus Graphics 640</p>
      </li>
       <li class="li-item">
        <mat-icon>chevron_right</mat-icon>
        <p>Almacenamiento: 512GB SSD M.2 NVMe™ PCIe® 3.0 x2 + TPM</p>
      </li>
    </ul>
    <h4>Sistema operativo</h4>
    <h4>Conectividad y redes</h4>
    <h4>Dimensiones</h4>
  </section>

</main>