.container {
  padding: 20px;
  margin: 0 auto;
  overflow: hidden;
  .image-gallery-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    .full-size-image {
      display: flex;
      align-items: center;
      .image-btn-navigation {
        margin: 0  auto;
        z-index: 1;
        outline: none;
        border: none;
        .navigation-icon {
          font-size: 30px;
        }
      }
      .image {
        width: 300px;
      }
    }
    .small-size-images {
      .images-display {
        display: flex;
        justify-content: space-between;
        .images-display-mini {
          max-width: 60px;
            margin: 0 5px;
        }
      }
    }
  }
  .product-description {
    padding: 0 20px;
  }
}

.divider {
  background-color: #D0D0D0;
  height: 1px;
  margin: 20px 0;
}

.divider1 {
  background-color: #D0D0D0;
  height: 1px;
  margin: -15px 0 10px 0;
}