
.header-container {
  overflow: hidden;
  position: relative;
  max-width: 500px;
  margin: 0 auto;
  box-shadow: 0px 10px 50px -30px rgba(0,0,0,0.25);
  background: #ffffff;
  position: absolute;
  position: fixed;
  padding: 20px;
  width: 100%;
  z-index: 5;
  top: 0;
  .navbar {
    display: flex;
    justify-content: space-between;
    .navbar-left-side {
      display: contents;
      .navbar-logo-container > a >  img {
      width: 150px;
      max-height: 50px;
      cursor: pointer;

      }
      .left-side-icon  {
        font-size: 2.2rem;
        cursor: pointer;
      }
    }
    .navbar-right-side {
      .right-side-btn {
        margin-left: 10px;
      }
      .right-side-icon {
        transition: ease .1s;
        font-size: 1.8rem;
        cursor: pointer;
        background: none;
      }
      .right-side-icon:hover {
        transform: scale(1.3);
      }
    }
  }
}