<section class="shopping-cart-container">
  <section class="shopping-cart-heading">
    <h2 class="shopping-cart-title">Productos en la cesta</h2>
    <p class="shopping-cart-info">
      (<span class="cart-info-total">4</span>)
      Articulos en tu cesta
    </p>
  </section>
  <hr>
  <ul class="shopping-cart-list">
    <li *ngFor="let item of cartList" class="cart-list-item">
      <section class="list-item-wrapper">
        <figure class="list-item-image">
          <img 
            src="https://www.neobyte.es/18540-thickbox_default/monitor-asus-24-vg248qz.jpg" alt="product-img" 
            class="item-image-mini"
          >
        </figure>
        <section class="list-item-info">
          <p class="item-info-title">Lenovo 100E 2G - Portátil 11.6" N4000 4GB 64GB SSD W10P</p>
          <p class="item-info-shipping">¡En stock! Recíbelo en 24/48h.</p>
          <section class="item-info-units">
            <section class="info-units-quantity">
              <button class="unit-quantity-btn btn">
                <mat-icon class="quantity-icon">arrow_drop_down</mat-icon>
              </button>
              <p class="unit-quantity-count">1</p>
              <button class="unit-quantity-btn btn">
                <mat-icon class="quantity-icon">arrow_drop_up</mat-icon>
              </button>
            </section>
            <p class="info-units-price">€5.219,00</p>
            <button class="btn" (click)="log()">
              <mat-icon class="info-units-remove">close</mat-icon>
            </button>
          </section>
        </section>
      </section>
      <hr>
    </li>
  </ul>
  <section class="shopping-cart-resume">
    <section class="shopping-cart-reset">
      <button class="cart-reset-delete btn">
        <mat-icon class="reset-delete-icon">delete</mat-icon>
        <p class="reset-delete-text">Vaciar Cesta</p>
      </button>
      <button 
        class="cart-reset-continue btn"
        [routerLink]="['/list']"  
      >
        <mat-icon class="reset-continue-icon">shop</mat-icon>
        <p class="reset-continue-text">Seguir comprando</p>
      </button>
    </section>
    <section class="shopping-cart-total">
      <div class="cart-total-text">
        <p class="total-text">Total productos:</p>
        <p class="total-price">€4.634.96</p>
      </div>
      <div class="cart-total-text">
        <p class="total-text">Total gastos de envío IVA incluído:</p>
        <p class="total-price">€4.90</p>
      </div>
      <div class="cart-total-text">
        <p class="total-text">Total</p>
        <p class="total-price">€4.639.86</p>
      </div>
    </section>
    <section class="shopping-cart-finalize">
      <button class="cart-finalize-btn btn">
        REALIZAR PEDIDO
      </button>
    </section>
  </section>
</section>
