<section class="side-navbar-container" id="toogleProfileSideBar">
	<div class="sidebar-close-wrapper" (click)="closeProfileSidebar()">
		<button class="btn sidebar-close-btn">
      <mat-icon class="sidebar-close-icon">arrow_forward_ios</mat-icon>
      <p>Mi Cuenta</p>
		</button>
	</div>
	<nav class="sidebar-navigation">
    <ul>
      <li>
        <mat-icon></mat-icon>
        <p>Lista de deseados</p>
      </li>
      <li>
        <mat-icon></mat-icon>
        <p>Mi Cuenta</p>
      </li>
      <li>
        <mat-icon></mat-icon>
        <p>Cerrar sesión</p>
      </li>
    </ul>
	</nav>
</section>
