<footer>
  <section class="footer-icons">
    <div>
      <!-- <img src="https://www.neobyte.es/themes/warehouse/img/icon/visa-mastercard.svg" alt=""> -->
    </div>
  <section class="footer-icons">
    <div>
      <!-- <mat-icon></mat-icon> -->
    </div>
  <section class="footer-icons">
    <div>
      <!-- <mat-icon></mat-icon> -->
    </div>
  <section class="footer-icons">
    <div>
      <!-- <mat-icon></mat-icon> -->
    </div>
  </section>
  <section class="footer-links">

  </section>
</footer>